
/*****************globals*************/
body {
    font-family: 'open sans';
    overflow-x: hidden; }
  
  img {
    max-width: 100%;
      height: 350px;
      padding: 5%;
  }

  .small-image {
    margin-top: 25%;
  }

  

  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; 
  }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        width: 150px;
        display: block;
        height: 70px; 
        }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: auto;
      height: 400px;
      margin: 0 0 8%;
      object-fit: cover;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  .card {
    margin-top: 2%;
    padding: 3em;
    line-height: 1.5em; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bolder; 
    font-size: 30px;
    }
  
  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title {
    margin-bottom: 15px;
    margin-top: 0;   
  }

  .product-details {
    margin-top: 12%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1.2
  }
  .product-price {
    font-size: 20px;
    margin-top: 10%;
    font-weight: bold;


  }
  .action {
      margin-top: 40%;
  }

  @media only screen and (max-width: 600px) {
    .product-title {
      margin-top: 3%;
    }
    .action {
      margin-top: 10%;
    }
  }

  .icons {
      padding: 3% 5% 0 0;
      font-size: 30px;
  }

  .instagram {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    font-size: 29px;
    margin-right: 5%;
    line-height: 30px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }

  .fa-whatsapp {
    color: #25D366;
  }

  .fa-facebook {
    color: #3B5998
  }
  
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }


  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }

  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  /*# sourceMappingURL=style.css.map */